.shoes-search-container {
  .title {
    color: $gray;
    font-size: 16px;
  }

  p {
    color: $black;
    font-size: 18px;
    font-weight: 400;
  }

  .brands-group {
    span {
      display: inline-block;
      width: 100%;

      label {
        color: $black;
      }
    }
  }

  .noUi-marker-horizontal, .noUi-value-horizontal {
    margin-left: -1px;
    width: 2px;
    height: 5px;
    position: absolute;
  }

  .price {
    margin-top: 40px;
    width: 80%;
  }

  .noUi-pips {
    margin-top: -45px;
  }
}